body {
  background-color: #3480df;
  text-align: center;
}

section#animation {
  padding-top: 10%;
}

#object {
  background-image: url('../images/kitteh_350x350.png');
  height: 350px;
  margin: auto;
  width: 350px;
}
